<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_principal_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TAREOVLV"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".actividades.Principal"
            android:exported="false" />
        <activity
            android:name=".actividades.tareoSOP"
            android:exported="false" />
        <activity
            android:name=".Error_Send"
            android:exported="false" />
        <activity
            android:name=".Confirmation_Send"
            android:exported="false" />
        <activity
            android:name=".actividades.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.SplashScreen"
            android:exported="true" />
        <activity
            android:name=".actividades.Update"
            android:exported="false" />
        <activity
            android:name=".actividades.UpdateTareo"
            android:exported="false" />
        <activity
            android:name=".actividades.PreRegister"
            android:exported="true" />
        <activity
            android:name=".actividades.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>